.navigation {
    position: absolute;
    height: 89px;
    left: 0px;
    top: -13px;

    /* White */
    background: #FFFFFF;
    /* Fellow Light */
    border: 1px solid #E4E4E4;
    box-sizing: border-box;

    width: 100%;
    /*background-color: rgb(240, 231, 223);*/
    overflow-x: hidden;
    padding: 40px 10px 0px 10px;
}

.navigation .nav-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
}

.navigation .nav-icon {
    width: 40px;
    height: auto;
}

.navigation .nav-label {
    margin: 10px 20px;
    letter-spacing: 3px;
    color: #484848;
    white-space: pre-wrap;
}

.navigation .nav-label:hover {
    color: #FF5240;
}