.backgroundFellowRed {
    background: #FF5240;
}
.backgroundFellowYellow {
    background: #FFB133;
}
.backgroundFellowGreen {
    background: #00A077;
}
.backgroundFellowDark {
    background: #484848;
}
.backgroundFellowLight {
    background: #E4E4E4;
}
.backgroundFellowWhite {
    background: #FFFFFF;
}
.textFellowRed {
    color: #FF5240;
}
.textFellowYellow {
    color: #FFB133;
}
.textFellowGreen {
    color: #00A077;
}
.textFellowDark {
    color: #484848;
}
.textFellowLight {
    color: #E4E4E4;
}
.textFellowWhite {
    color: #FFFFFF;
}

.lineFellowRed{
    border: 1px solid #FF5240;
}
.lineFellowYellow{
    border: 1px solid #FFB133;
}
.lineFellowGreen{
    border: 1px solid #00A077;
}
.lineFellowDark{
    border: 1px solid #484848;
}
.lineFellowLight{
    border: 1px solid #E4E4E4;
}
.lineFellowWhite{
    border: 1px solid #FFFFFF;
}